body {
    background-image: url('./image/bg2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#lbl {
    text-align-last: center;
}
footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 50px;
    padding:15px;
}
table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
    text-align: center;
}
table {
    margin-top:5%;
    margin-left:40%;
}
.darkorchid {
    color:darkorchid;
}
.plum {
    color:plum;
}
h2 {
    text-align: center;
}
.column {
    padding: 0 8px;
    float: left;
    width: 33.33%;
}
.center {
    text-align: center;
}
.footer {
    width: 100%;
    bottom:10px;
    background-color: azure;
}
.ul {
    width: 40%;
    background-color: white;
}
.out {
    width: 100%;
    background-color:thistle;
    border-radius: 3%;
    display: flex;            
    justify-content: center;            
    align-items: center;
}
