* {
    box-sizing: border-box;
    word-spacing: 1.5px;
}
body {
    background-image: url('./image/bg2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-color:darkgray;
    border-style: solid;
}
#lbl {
    text-align-last: center;
}
table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
    text-align: center;
}
table {
    margin-top:5%;
    margin-left:40%;
}
.darkorchid {
    color:darkorchid;
}
.plum {
    color:plum;
}
h2 {
    text-align: center;
}
.column {
    padding: 0 8px;
    float: left;
    width: 33.33%;
    background-color:aliceblue;
}
.center {
    text-align: center;
    letter-spacing: 10px;
}
.footer {
    width: 100%;
    bottom:10px;
    background-color: azure;
    cursor:copy;/*fare durumlari*/
}

.out {
    width: 100vw;
    height: 130px;
    background-color:thistle;
    border-radius: 3%;
    opacity: 0.7;
    filter: blur(10px);
    -webkit-filter: blur(10px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.blurtext {
    background-color: rgba(0,0,0, 0.2); /* Black w/opacity/see-through */
    color: white;
    border-radius: 30%;
    position: absolute;
    top: 58vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    width: 75vw;
    padding: 3vh;
    text-align: center;
}
.brds{
    border-radius: 5%;
}
.loc {
    float: left;
    bottom:0px;
}
p {
    font-size: 1em;
}
ul li {
    list-style-type:none;
    color:darkorchid;  
    text-transform: lowercase;  
}
ul li a {
    color:darkorchid;  
    background: white;
    display: inline-block;
}