* {
    box-sizing: border-box;
    word-spacing: 1.5px;
}
body {
    background-image: url('./image/bg2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-color:darkgray;
    border-style: solid;
}
table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
    text-align: center;
}
table {
    margin-top:5%;
    margin-left:40%;
}
h2 {
    text-align: center;
}
p {
    font-size: 1em;
}
ul li {
    /*list-style-type:none;*/
    color:darkorchid;  
    text-transform: lowercase;  
}
ul li a {
    color:darkorchid;  
    background: white;
    display: inline-block;
}
.darkorchid {
    color:darkorchid;
}
.plum {
    color:plum;
}

.column {
    padding: 0 8px;
    float: left;
    width: 33.33%;
    background: none;
}
.imgposition{
    width: 500px;
    height: 600px;
    border: 8px darkorchid solid;
}
/*footer::after {
    content:"";
    border: 5px solid darkgray;
    width: 200px;
    height: 150px;
    box-sizing: border-box;
    left: 30vw;
    top: -200px;
}
footer::before {
    content:"";
    border: 5px solid darkgray;
    width: 200px;
    height: 150px;
    position:relative;
    box-sizing: border-box;
    left: 33vw;
    top: -150px;
}*/
.center {
    text-align: center;
    letter-spacing: 10px;
}
.footer {
    width: 100%;
    background-color: azure;
    cursor:copy;/*fare durumlari*/
    position:static;
}
.out {
    width: 100vw;
    height: 130px;
    background-color:thistle;
    border-radius: 3%;
    opacity: 0.7;
    filter: blur(10px);
    -webkit-filter: blur(10px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.blurtext {
    background: linear-gradient(darkorchid,plum,lightpink);
    color: white;
    border-radius: 30%;
    position: absolute;
    top: 58vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    width: 75vw;
    padding: 3vh;
    text-align: center;
}
.brds{
    border-radius: 5%;
}
.loc {
    float: left;
    bottom:0px;
    position:fixed;
}
.bg1{
    background: url("./image/selale.jpeg");
    background-size:cover;
    background-repeat:no-repeat;
    background-position: 100%,100%;
    background-attachment: fixed;
}
.bg2{
    background: url("./image/gol.jpeg");
    background-size: cover;
    background-repeat:no-repeat;
    background-position: 100%,100%;
    background-attachment: fixed;
}
.bg3{
    background: url("./image/manzara.jpeg");
    background-size:cover;
    background-repeat:no-repeat;
    background-position: 100%,100%;
    background-attachment: fixed;
}
#lbl {
    text-align-last: center;
}